<link rel="stylesheet" href="static/css/tsu.css">
<script src="static/js/jquery.min.js"></script>
<script src="static/js/tsu.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <div class="header">
    <a href="#default" class="logo">X-Service</a>
    <div class="header-right">
      <a href="/login">Login</a>
      <a class="active" href="/about">About</a>
    </div>
  </div>

<body>

<br><br><br>
<center>
	<strong>[ X-Service ]</strong><br><br>
	2021 © The handsome guy!<br><br>
	<img src="/static/images/dogy.gif" width="15%" />
</center>