<link rel="stylesheet" href="static/css/tsu.css">
<script src="static/js/jquery.min.js"></script>
<script src="static/js/tsu.js"></script>


<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <div class="header">
    <a href="#default" class="logo">X-Service</a>
    <div class="header-right">
      <a class="active" href="#login">Login</a>
      <a href="/about">About</a>
    </div>
  </div>

<body>

<br><br><br>
<center>
	<div class="form"><br><br>
		<form action="/login" method = "POST">
		    <label>Username</label><br>
		    <input type="text" id="username" name="username"><br>

		    <label>Password</label><br>
		    <input type="text" id="password" name="password"><br><br>
		  
		    <input type="submit" id="login" value="Login">
		</form>
		<form action="/login" method = "POST">
			<input type="hidden" name="guest" value="true">
			<input type="submit" id="login_as_guest" value="Login As Guest">
		</form>
	</div>
</center>