<!DOCTYPE html>
<head>
		<title>BlitzProp</title>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<meta name='author' content='makelaris, trx'>
		<link rel='icon' href='/static/images/favicon.png' type='image/png' />
		<link rel='stylesheet' href='/static/css/main.css' />
		<link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Source+Code+Pro" rel="stylesheet">
</head>
<body>
	<div class="container">
		
		<div class="wrapper quote-machine border blue">
			<header class="border blue">
				<h1>What is your favorite Blitz song?</h1>
				<span class="version border blue">ver: 7.3.9.3.9</span>
			</header>
			<main class="border blue">
				<center><img src="/static/images/alien.gif"></center>
				<p>1. Not Polluting with the boys</p>
				<p>2. ASTa la vista baby</p>
				<p>3. The Galactic Rhymes</p>
				<p>4) The Goose went wild</p>
				<form id='form' method='POST'>
					<blockquote id="quote">
						<div class='border blue box'>
							<textarea class='cursor blink' type='text' name='name' placeholder='&#9646;' autocomplete='off' required></textarea>
						</div>
					</blockquote>
					<center><button class="btn" type="submit">Submit</button></center>
				</form>
			</main>
			<footer class="border blue">
				<p class="page-author" id='output'>Input your favorite Blitz song and you will automatically enter an intergalactic competition, with the chance to win an <a href="#" class="link">Aurora 2000</a> Spaceship.</p>
			</footer>
		</div>

		<div class="wrapper mem border blue">
			<div class="cells">
				<header><h2>MEM.</h2></header>
				<div class="border red">
					<div class="float-left">
						<div id="0"><span class="module open"></span><br/>\</div>
						<div id="1"><span class="module"></span><br/>/</div>
						<div id="2"><span class="module"></span><br/>/</div>
					</div>
					<div class="float-left">
						<div id="3"><span class="module"></span><br/>/</div>
						<div id="4"><span class="module open"></span><br/>\</div>
						<div id="5"><span class="module"></span><br/>/</div>
					</div>
					<div class="float-left">
						<div id="6"><span class="module"></span><br/>/</div>
						<div id="7"><span class="module"></span><br/>/</div>
						<div id="8"><span class="module"></span><br/>/</div>
					</div>
					<div class="float-left">
						<div id="9"><span class="module"></span><br/>/</div>
						<div id="10"><span class="module open"></span><br/>\</div>
						<div id="11"><span class="module open"></span><br/>\</div>
					</div>
					<div class="float-left">
						<div id="12"><span class="module"></span><br/>/</div>
						<div id="13"><span class="module"></span><br/>/</div>
						<div id="14"><span class="module"></span><br/>/</div>
					</div>
					<div class="float-left">
						<div id="15"><span class="module open"></span><br/>\</div>
						<div id="16"><span class="module"></span><br/>/</div>
						<div id="17"><span class="module"></span><br/>/</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
	<script src='/static/js/main.js' type='text/javascript'></script>
</body>
</html>